platforms/metacritic_games_data_3ds.csv
platforms/metacritic_games_data_dreamcast.csv
platforms/metacritic_games_data_ds.csv
platforms/metacritic_games_data_gamecube.csv
platforms/metacritic_games_data_gba.csv
platforms/metacritic_games_data_meta-quest.csv
platforms/metacritic_games_data_mobile.csv
platforms/metacritic_games_data_nintendo-64.csv
platforms/metacritic_games_data_nintendo-switch.csv
platforms/metacritic_games_data_pc.csv
platforms/metacritic_games_data_ps-vita.csv
platforms/metacritic_games_data_ps1.csv
platforms/metacritic_games_data_ps2.csv
platforms/metacritic_games_data_ps3.csv
platforms/metacritic_games_data_ps4.csv
platforms/metacritic_games_data_ps5.csv
platforms/metacritic_games_data_psp.csv
platforms/metacritic_games_data_wii-u.csv
platforms/metacritic_games_data_wii.csv
platforms/metacritic_games_data_xbox-360.csv
platforms/metacritic_games_data_xbox-one.csv
platforms/metacritic_games_data_xbox-series-x.csv
platforms/metacritic_games_data_xbox.csv
metacritic_games_data.csv
